<div class="navbar">
    <div class="logo">EMPLOYEES</div>
    <div class="about">
        <ul>
            <li [routerLink]="['/']">Home</li>
        </ul>
    </div>
</div>

<div class="backgrounds">
    <div class="content">
        <img src="assets/2.jpg">
        <div class="content-me">
            <p>My name is <span>Ahmed Eid</span> i live in zagazig
                graduated from comupters and informatics ZU
                science 2015 with excellent graduate project
                now i completed millitary forced as an officer 
                i have two courses <br>
                <small>Java developer</small>  <br>
                
                <small>Full Stack developer</small> <br>
                now I am looking for a job as full stack java developer
            </p>
        </div>
    </div>
</div>